
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
Victuz/.vs/Victuz/FileContentIndex/623535ed-f39f-4b96-8668-d371d396599e.vsidx
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
Victuz/.vs/Victuz/v17/.suo
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
Victuz/obj/Debug/net8.0/Victuz.AssemblyInfo.cs
Victuz/obj/Debug/net8.0/Victuz.AssemblyInfoInputs.cache
Victuz/obj/Debug/net8.0/Victuz.AssemblyInfo.cs
Victuz/.vs/Victuz/v17/.suo
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
Victuz/.vs/Victuz/FileContentIndex/0627ebe3-86a1-4501-ada2-b69e46df5f53.vsidx
/Victuz/.vs
/Victuz/.vs
/Victuz/obj/Debug/net8.0
/Victuz/obj/Debug/net8.0
